.badge {
    display: inline-block;
    padding: 0.2em;
    position: center;
  }

  .modifier {
    font-size: medium;
    color:antiquewhite;
    padding: .5em;
    font-weight: bold;
    align-self: center;
    background-color: gray;
    border-radius: 0.25em 0 0 0.25em;
  }
  .name {
    font-size: medium;
    align-self: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: .5em;
    background-color: darkred;
    color: antiquewhite;
    border-radius: 0 0.25em 0.25em 0;
  }