<h1>Teehee {{typeOneBadge}} & {{typeTwoBadge}} :3c</h1>

<ng-template #superEff>
    <div class="superEff">
        <p class="badge" *ngFor="let type of typeAtk">
            <span class="multiplier">2</span>
            <span class="{{type.name}} name">{{type.name}}</span>
        </p>
        </div>
</ng-template>

<ng-template #eff>
    <div class="eff">
        <p class="badge" *ngFor="let types of types">
            <span class="multiplier">1</span>
            <span class="{{types}} name">{{types}}</span>
        </p>
    </div>
</ng-template>

<ng-template #notVeryEff>
    <div class="notVeryEff">
        <p class="badge" *ngFor="let types of types">
            <span class="multiplier">½</span>
            <span class="{{types}} name">{{types}}</span>
        </p>
    </div>
</ng-template>

<ng-template #neverEff>
    <div class="neverEff">
        <p class="badge" *ngFor="let types of types">
            <span class="multiplier">0</span>
            <span class="{{types}} name">{{types}}</span>
        </p>
    </div>
</ng-template>

<ng-template #blank>
    <div class="blank"></div>
</ng-template>