h2 {
  text-shadow: 3px 3px 3px #111;
  color: azure;
  background-color: #1f1f1f;
  padding: 0.5em;
}

.inner {
    display: inline-block;
    padding: 0.5em;
    position: center;
    min-width: min-content;
    max-width: max-content;
    color: azure;
    text-align: center;
  }

  .name {
    font-size: medium;
    text-transform: uppercase;
    font-weight: bolder;
    padding: .75em;
    text-shadow: 2px 2px 2px #111;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .icon {
    vertical-align: middle;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    padding-right: .25em;
  }

  .normal {
    background-color: #AAAA99;
  }
  
  .fire {
    background-color: #EC4225;
  }

  .water {
    background-color: #4E9AFF;
  }

  .electric {
    background-color: #F5CC34;
  }

  .grass {
    background-color: #77CC55;
  }

  .ice {
    background-color: #66CCFF;
  }

  .fighting {
    background-color: #BB5545;
  }

  .poison {
    background-color: #AA5599;
  }

  .ground {
    background-color: #DDBB55;
  }

  .flying {
    background-color: #8899FF;
  }

  .psychic {
    background-color: #EE5499;
  }

  .bug {
    background-color: #AABB22;
  }

  .rock {
    background-color: #BBAA66;
  }

  .ghost {
    background-color: #6667BC;
  }

  .dragon {
    background-color: #7867EE;
  }

  .dark {
    background-color: #775544;
  }

  .steel {
    background-color: #AAAABB;
  }

  .fairy {
    background-color: #EE99EE;
  }