.center {
    display:inline-flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 2%;
    font-size:x-large;
  }